body {
    background-image: url('../img/perfil_background.png');
    background-size: cover;
    font-family: Arial, sans-serif;
    padding: 20px;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: #f2f2f2;
}

th {
    background-color: #f2f2f2;
}

button {
    cursor: pointer;
}

#precio_total_todos {
    margin-top: 20px;
    font-weight: bold;
}